<a href="https://colab.research.google.com/github/Owaiskhan9654/Statistical-Inference-Multivariate-Techniques-Python-Implementation/blob/master/T_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**T Test**

Importing all necessary Libraries

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats

#Let us consider our dataset of Normal Distribution having Mean around 50 and standard deviation of 10 . we will take 10000 such points randomly

In [0]:
mu,sigma=50,10
input1=np.random.normal(mu,sigma,10000)

In [70]:
input_mean=np.mean(input1)
print(input_mean)

50.00379783689952

In [0]:
input_sample_size=5000
input_sample=np.random.choice(input1,input_sample_size)

In [0]:
  def t_dist(input1=input1,input_sample_size=50000):
     
     input_sample=np.random.choice(input1,input_sample_size)
     mean_population=np.mean(input1)
     mean_sample=np.mean(input_sample)
     s=np.std(input_sample)
     dof=input_sample_size-1


     t_score= (mean_sample-mean_population)/(s/np.sqrt(input_sample_size-1))
     return t_score,dof

In [97]:
tscore,df=t_dist(input1)
print(tscore)

0.32755460910014866

Now Calculating P value from the t score value

In [0]:
p_value = 1 - stats.t.cdf(tscore,df=df)

In [85]:
p_value

0.21174594237861455

Now starts Part B of the question

In [129]:
Alpha=float(input('Please enter Alpha value '))

Please enter Alpha value 0.995

In [130]:
dot=float(input('Please enter degrees of Freedom , It should not be negative or Decimal '))

Please enter degrees of Freedom , It should not be negative or Decimal 1

In [0]:
To=stats.t.ppf(Alpha,df=dot)

In [132]:
print('corresponding "To" value is ',To)

corresponding "To" value is  63.65674116287399